* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(92, 78, 78);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

input[type=color] {
    border-radius: 10px;
}

input[type=text]{
    /* background-color: rgb(122, 116, 116); */
    /* font-style black bold; */
    border: 1px black;
    border-radius: 10px;
}

input[type=text]::placeholder{
    font: black;
}
#QR_code {
    background-color: rgb(80, 52, 106);
}

.btn {
    border-radius: 30px;
}